  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.shadow {
    text-shadow: 0 2px 10px #3db39f;
}

header {                                       /*Navegación 1 Inicio */
    background-color: darkslategray;
    display: flex;
    justify-content: space-around;
    height: 100px ;
    align-items: flex-end ;
    font-size: 15px;
}

.links1 {
    height: 60px;
}

.links1 a {
    margin: 0 20px;
    color:#ffffff;
    font-size: 20px;
    text-shadow: 0 2px 10px #3db39f;
}

a:hover {
    opacity: 0.3;
    cursor: pointer;
}

.logo1 {
    position: absolute;
    height: 70px;
    width: 70px;
    left: 10%;
    top: 15px;
}                                                /*Navegación 1 Final */

.caja1f {                                        /*Caja 1 Inicio*/
    height: 100vh ;
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center ;
}

.caja1 {
    padding: 240px 0 0 425px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
    margin: 0 0 40px 0;
}                                              /*Caja 1 Final*/

.caja2f {                                      /*Caja 2 Inicio*/  
    background-color: darkslategray;
    padding: 10px 0 0 0;
    display: grid;
    text-align: center;
}

.titulo2 {
    text-align: center;
    margin: 30px ;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 2px 10px #3db39f;
}

.mtitulo1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 10px 0 10px 0;
    text-shadow: 0 2px 10px #3db39f;
}

.p1 {
    font-size: 12px ;
    font-weight: bold;
    color:#3db39f;
}

.caja2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

.fcuadro1, .fcuadro2, .fcuadro3 {
    height: 300px;
    width: 400px;
}

.b1 {
    width: 150px ;
    height: 40px ;
    margin: 30px 0 15px 0 ;
    border-radius: 7px ;
    border-style: none ;
    font-weight: bold;
    color: #3db39f;
}                                          /*Caja 2 Final*/

.caja3f {                                  /*Caja 3 Inicio*/
    background-color: darkslategray;
    display: grid;
    text-align: center;
}

.caja3-1 {
    color: #ffffff;
    text-shadow: 0 2px 10px #3db39f;
}

.mtitulo2, .p2 {
    margin: 20px 0 10px 0;
}                                        /*Caja 3 Final*/

.rectangulo {                             /*Caja 4 Inicio*/
    position: absolute;
    z-index: -1;
    width: 300px; 
    height: 600px; 
    background-color: darkslategrey;
    border-bottom-right-radius: 250px;
    right: 10vh;
}

.texto-about-us {
    width: 60vh;
    margin-left: 250px;
}

.texto-about-us h1 {
    font-weight: bold;
    font-size: 50px;
    color: rgb(61, 185, 92);
    text-shadow: 0 2px 10px #3f3f3f;
}

.texto-about-us p {
    margin-top: 50px;
    color: rgb(48, 48, 48);
    text-shadow: 0 2px 10px #636363;
}

.cuadro-about1 {
    margin-top: -350px;
 }
 
 .cuadro-about1, .cuadro-about2, .cuadro-about3 {
    background-color: white;
    border: solid 2px darkslategrey;
    width: 400px;
    text-align: end;
    margin-left: 110vh; 
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 10px darkslategrey;
 }
 
 .cuadro-about2, .cuadro-about3 {
     margin-top: 40px;
 }
 
 .cuadro-about1 p, .cuadro-about2 p, .cuadro-about3 p, .cuadro-about1 h2, .cuadro-about2 h2, .cuadro-about3 h2 {
     margin-right: 20px;
 }
 
 .cuadro-about1 p, .cuadro-about2 p, .cuadro-about3 p {
     margin-top: 10px;
 }
 
 .aboutus1 {
     height: 70px;
     border-radius: 10px;
     float: left;
     margin-top: 15px;
 }
 
 .aboutus2, .aboutus3 {
     height: 70px;
     border-radius: 10px;
     float: left;
     margin-top: 5px;
 }                                         /*Caja 4 Final*/
 
